
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.project {
    width: 85%;
}

.projectMeta { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    border-top: 1.25px solid black;
    border-bottom: 1.25px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.projectName {
    padding-left: 5px;
}

.metaSubDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

.project:first-of-type > .projectMeta {
    border-top: 2px solid black;
    border-radius: 10px 10px 0 0;
}

.project:last-of-type > .projectMeta  {
    border-bottom: 2px solid black;
    border-radius:  0 0 10px 10px ;
    padding: 0;
    text-align: center;
}

.projects > .project:only-child  > .projectMeta {
    border-radius:  10px 10px 10px 10px;
}

.toDoItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.toDoItem {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;
}

.complete,
.edit,
.submit {
    margin: 5px 0;
    padding: 2px;
    border: 0.5px solid black;
    border-radius: 2px;
}

.complete {
    background-color: green;
}

.not.complete {
    background-color: lightgrey;
}

.edit {
    background-color: orange;
}

.submit {
    color: lightgrey;
    background-color: green;
}

.title {
    width: 50%;
    font-weight: bold;
}

.completeData {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 45%;
}

.dueDate {
    text-align: center;
}

.description,
.notes {
    border-top: 1px solid black;
}

.description {
    padding-left: 5px;
    width: 50%;
}

.notes {
    width: 45%;
    font-style: italic;
    text-align: right;
    padding-right: 5px;
}

.hidden {
    display: none;
}

.closed,
.opened {
    border: 0.5px solid transparent;
}

.opened,
.closed:hover {
    color: black;
}

.closed,
.opened:hover {
    color: darkgrey;
}

.closed:hover,
.opened:hover {
    cursor: pointer;
    border: 0.5px solid grey;
}

.opened:hover {
    background-color: black;
}

input {
    border: 0;
    background-color: rgba(128, 128, 128, 0.25);
}